*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ol,ul{
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none !important;
}
img{
    vertical-align: middle;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,a,img,span,aside,hgroup,ul,ol,li,form,label,input,nav,.navbar,.navbar-brand,i{
    margin: 0;
    padding: 0;
}
p{
    color: #ffffff;
}
.pt_com{
    padding-top: 95px;
    padding-bottom: 60px;
}
/* common_heading */
.common_heading h4{
    font-size: 24px;
    color: #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* common_heading */

/* header_part starts */
.header_part{
    background: #353535;
}
.head_content{

}
.head_content p{
    font-size: 14px;
    margin-top: 6%;
}

.head_s_icons ul li{
    float: left;
    display: block;
    border-left: 1px solid #ffffff;
    cursor: pointer;
    transition: .3s;

}
.head_s_icons ul li a {
    color: #ffffff;
    display: inline-block;
    padding: 14px 20px;
}
.head_s_icons ul li:hover{
    background: #bd081c;
}
/* header_part ends */


/* menu_part starts */

.menu_part{

}
.logo_part{
    padding: 30px 0px;
}
.menu_part{

}
.menu_part ul{
    float: right;
    margin: 80px 0px;
}
.menu_part ul li a{
    color: #252525 !important;
    font-size: 18px;
}
.menu_part ul li{
    float: left;
    padding: 0px 13px;
    border-left: 2px solid #000000;
}
.menu_part ul li:first-child{
    border: none;
}
.menu_part ul li a.active,
.menu_part ul li a:hover{
    color: #f6652e !important;
}
/* menu_part ends */

/* banner_part starts */

.banner_part{
    position: relative;
    
}
.banner_part .carousel-item{
    background: url(../images/banneri_mg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner_main{
    
}


.overlay_bn{
    background: rgba(0, 0, 0, 0.63) !important;
    padding: 160px 0px;
}
.banner_main p{
    padding-top: 30px;
   padding-bottom: 60px;
   font-size: 14px;
}
.btn_bn{
    padding: 15px 20px;
    background: linear-gradient( #f1692d, #7e2600)
}
.banner_main button h5{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.btn_bn:hover{
    background: linear-gradient(#7e2600, #f1692d);
}
.banner_part .carousel-indicators li {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    margin-left: 4px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    flex: 0 1 auto;
    border: none;
    opacity: 1;
    border: 1px solid #ffffff;
    border-radius: 2px;
    transition: .3s ease-out;
}
.banner_part .carousel-indicators {
    bottom: 35px;
}
.banner_part .carousel-indicators li.active,
.banner_part .carousel-indicators li:hover{
    background: #f1692d;
    border: 1px solid #f1692d;
    transform: rotateZ(45deg);
}
/* banner_part ends */

/* subscribe_part starts */
.subscribe_part{
    padding: 40px 0px;
    background: #c9c9c9 !important;
}
.subscribe_icon i{
    font-size: 54px;
    color: #f1692d;
    margin-top: 15px;
}
.subscribe_to{
    margin-left: 0 !important;
}
.subscribe_to h1{
    color: #f1692d;
    font-family: 'Raleway', sans-serif;
    font-weight: 500
}
.subscribe_to h6{
    font-size: 14px;
    color: #353535;
}
.subscribe_form{
    margin-top: 25px;
}
.subscribe_form .name{
    width: 360px;
    border-radius: unset;
    border: 1px solid #252525;
    background: transparent;
}
.subscribe_form .email{
    width: 270px;
    border-radius: unset;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-left: 1px solid #252525;
    background: transparent;
}
.sub_btn{
    padding: 5px 10px;
    background: #f1692d;
    border-radius: unset;
}

/* subscribe_part ends */

/* gly_part starts */
.gly_part{
    position: relative;
}
.gly_overlay{
    position: absolute;
    top: 0;
    left: 15px;
    height: 0%;
    width: 89%;
    background: rgba(255, 255, 255, 0.582);
    box-shadow: 5px 5px 5px rgb(172, 171, 171);
    transition: .3s;
}
.gly_overlay ul{
    float: left;
    position: absolute;
    top: 50%;
    margin-left: 5%;
    visibility: hidden;
}
.gly_overlay ul li{
    font-size: 24px;
    float: left;
    padding: 0px 28px;
    border-left: 2px solid #353535;
}
.gly_overlay ul li a{
    color: #353535;
    transition: .3s;
}
.gly_overlay ul li:first-child{
    border-left: unset;
}
.gly_overlay ul li a:hover{
    color: #f1692d;
}

.gly_img:hover .gly_overlay{
    height: 330px;
}
.gly_img:hover .gly_overlay ul{
    visibility: visible;
}
.gly_main h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #353535;
    margin-top: 15px;
    transition: .3s;
}
.gly_main ul{
    float: right;
}
.gly_main p{
    display: inline;
    color: #252525;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.gly_main ul li{
    float: left;
    font-size: 18px;
    color: #f1692d;
}
.gly_main:hover h5{
    color: #f1692d;
}
.glyb{
    color: #ffffff;
    margin-bottom: 95px;
}
.glyb:hover{
    color: #ffffff;
}
/* gly_part ends */

/* testimonial_part starts */

.testimonial_part{
    
}
.testimonial_part .common_heading img{
    width: 155px;
}
.testimonial_part .common_heading{
    padding-top: 0;
}
.testimonial_main{
    padding-bottom: 95px;
}
.testimonial_main .carousel-item{
    background: url(../images/testimonial_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.test_overlay{
    background: rgba(0, 0, 0, 0.746);
    padding-top: 40px;
    padding-bottom: 100px;
}
.testimonials{
    position: relative;
}
.test_img{
    height: 120px;
    width: 120px;
    background: #e3e4e7;
    border-radius: 50%;
    border: 5px solid #000000;
    position: relative;
    overflow: hidden;
    left: 50%;
    top: 13%;
    transform: translateX(-50%);
}
.test_content{
    padding: 85px 15px 30px;
    background: #e3e4e7;
}
.test_content ul{
    position: absolute;
    left: 42%;
}
.test_content ul li{
    float: left;
    color: #f6652e
}
.test_content h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.test_content h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.test_content p{
    color: #252525;
    font-size: 16px;
}
.testimonial_main .carousel-indicators li {
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    margin-left: 4px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    flex: 0 1 auto;
    border: none;
    opacity: 1;
    border: 1px solid #ffffff;
    border-radius: 2px;
    transition: .3s ease-out;
}
.testimonial_main .carousel-indicators{
	bottom: 24px;
}
.testimonial_main .carousel-indicators li.active,
.testimonial_main .carousel-indicators li:hover{
    background: #f1692d;
    border: 1px solid #f1692d;
    transform: rotateZ(45deg);
}
/* testimonial_part ends */


/* footer starts */

footer{
    background: #353535;
    padding: 60px 0px 70px 0px;
    position: relative;
}
.slant{
    position: absolute;
    width: 30%;
    height: 100%;
    background: #f1692d;
    top: 0;
    left: 0;
}
.slant2{
    background: #f1692d;
    width: 34%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-10deg);
    
}
.foot_about{
    font-family: 'Roboto', sans-serif;
    color: #ffffff !important;
}
.foot_about ul li{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    float: left;
    margin-right: 10px;
    height: 46px;
    width: 46px;
    text-align: center !important;
    transition: .3s
}


.foot_about ul li a{
    font-size: 20px;
    color: #ffffff;
    transition: .3s
}
.foot_about ul li:hover{
    background: #ffffff;
}
.foot_about ul li:hover a{
    color: #252525 !important;
}
.py_30{
    padding: 30px 0px;
}
.foot_about p{ 
    font-size: 14px;
}
.foot_contact ul li a{
    height: 35px;
    width: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
}


.foot_contact ul li p{
    font-size: 14px;
    position: relative;
    top: -35px;
    left: 40px;
}
.foot_contact ul li i{
    color: #ffffff;
}
.important_link{

}
.important_link h4{
    color: #ffffff;
    font-size: 21px;
    text-transform: capitalize;
    margin-top: 5px;
}
.important_link ul li{
    line-height: 1.8;
    margin-left: 10px;
}
.important_link ul li a{
    color: #dddddd;
}
.important_link ul li:hover a{
    color: #f6652e;
    
}
.l_news_cont span,
.l_news_cont p{
    font-size: 13px;
    color: #dddddd;
}
.admin{
    margin-right: 10px;
}
.l_news_cont span i{
    margin-right: 2px;
}
/* footer ends */



























